.technology-card {
  max-width: 300px;
  margin: 0 auto;
}

.technology-card img {
  max-width: 70px;
  height: auto;
}

.technology-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.carousel-item {
  max-height: 500px;
}
.carousel-img {
  object-fit: contain;
  max-height: 400px;
  width: 100%;
  cursor: pointer;
}

.imageAlan {
  max-height: 300px;
  max-width: 300px;
}
@media (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}
