.card img {
  max-height: 80px;
  object-fit: contain;
}
.technology-card {
  max-width: 300px; /* Largeur maximale pour éviter que la carte soit trop large */
  margin: 0 auto; /* Centre les cartes dans leur colonne */
}

.technology-card img {
  max-width: 100px; /* Limite la taille de l’image */
  height: auto;
}

.technology-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
